body {
  background-color: #181A1B;
  color: #E8E6E3;
  max-width: 65%;
  min-width: 700px;
  margin: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a:link, a:visited {
  color: #3391FF;
}

#nav li {
  list-style-type: none;
  display: inline;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}